
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{ docs_title }} - {{ module_name }}</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css"/>
	  <link rel="stylesheet" href="assets/css/bootstrap.css"/>
	  <link rel="stylesheet" href="assets/css/jquery.orgchart.css"/>
		
	  <script src="assets/js/jquery-1.11.1.min.js"></script>		
	  <script src="assets/js/bootstrap.min.js"></script>				
	  <script src="assets/js/jquery.orgchart.js"></script>
	  <script>
	  $(function() {
	      $(".chart").each( function(index) {
					$(this).orgChart({container: $("#main" + index)});
				});
	  });
	  </script>
		
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="index.html">{{ docs_title }}</a>
        </div>
      </div>
    </div>

    <div class="jumbotron">
      <div class="container">
        <h1>{{ file_name }}</h1>
        {% if is_program %}
         <p style="font-size: 18px">Program File</p>
         {% endif %}
      </div>
      				{% if comment_list|length > 0 %}
					<p  style="font-size: 15px">{% for comment in comment_list %}
						{{ comment }}<br>
					{% endfor %}</p>
				{% endif %}
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-6">
          <h2>Modules</h2>
					<ul>
						{% for mod in mod_list|sort %}
							<li><a href="module_{{ mod|lower }}.html">{{ mod }}</a></li>
						{% else %}
							<h4>No modules in this file.</h4>																				 
						{% endfor %}
					</ul>

					{% if sub_list|length > 0 %}
					<br>
					<br>
          <h2>Independent Subroutines or Functions&nbsp;&nbsp;<small style="font-size: 14px"><a class="openpanel">Expand all</a> | <a class="closepanel">Collapse all</a></small></h2>
					<ul>
						{% for sub in sub_list|sort(attribute='sub_name')  %}						
						  <div class="panel panel-default" style="border: 0px; background-color:#fff; border-color: #fff; box-shadow: 0px 0px 0px 0px; margin: 0px 0px 0px 0px">
						    <div class="panel-heading" style="border: 0px; background-color:#fff; border-color: #fff; padding: 0px 0px 0px 0px">
						        <li><a data-toggle="collapse" data-parent="#accordion" href="#collapse{{ loop.index }}">
												{{ sub.sub_name }}
						        </a></li>
						    </div>
						    <div id="collapse{{ loop.index }}" class="panel-collapse collapse" style="margin-left: 5px; margin-top: 3px; margin-bottom: 5px; border: 0px">
						      <div class="panel-body" style="background-color:#eee; border: 0px; border-color: #fff">
										{% if sub.sub_comments|length > 0 %}
											<i>
											{% for cmt in sub.sub_comments %}
												{{ cmt }}<br>
											{% endfor %}
											</i>
										<br>
										{% endif %}
										{% for arg in sub.sub_args %}
											{% if arg.var_class %}
												{{ arg.class_type }}(<a href="class_{{ arg.var_class|lower }}.html">{{ arg.var_class }}</a>) :: {{ arg.var_name }}<br>
											{% else %}
												{{ arg.var_type }} :: {{ arg.var_name }}<br>
											{% endif %}
										{% endfor %}
						      </div>
						    </div>
						  </div>
						{% else %}
							<h4>No subroutines were found in this file.</h4>
						{% endfor %}
					</ul>
					{% endif %}

       	</div>
				
        <div class="col-md-6">
          <h2>Dependencies</h2>
          <p>This files' modules depends upon:</p>
          <ul>
						{% for dep in dep_list|sort(attribute='using') %}
							<li>
								<a href="module_{{ dep.using|lower }}.html">{{ dep.using }}</a>
								<small>(
								{% if dep.use_module %}
									Used by <a href="module_{{ dep.use_module|lower }}.html">{{ dep.use_module }}</a>
								{% endif %}
								{% if dep.defined_in != "Unknown" %}	
									Defined in <a href="{{ dep.defined_file_type }}_{{ dep.defined_in}}.html">{{ dep.defined_in }}</a>
								{% endif %}
								)</small></li>
						{% else %}
							<h4>No dependencies were found in this file.</h4>			
						{% endfor %}
					</ul>
       	</div>				
      </div>

			{% if type_trees %}			
      <hr>

			<h2>Inheritance</h2>
			
				{% for tree in type_trees %}
					<ul class="chart hide">
						{% for key, value in tree.iteritems() recursive %}
							{% set outer_loop = loop %}

							{% if value.children %}
								<li><a href="class_{{ key|lower }}.html">{{ key }}</a>
								<ul>
								{% for val in value.children %}
									{% if val is mapping %}
											{{ outer_loop(val.iteritems()) }}
										</ul>
									</li>
									{% else %}
										<li><a href="class_{{ val|lower }}.html">{{ val }}</a></li>
									{% endif %}
								{% endfor %}
							{% endif %}
						{% endfor %}
						</li>
						</ul>
					</ul>
					
		      <div id="main{{ loop.index0 }}">
		      </div>
					<hr>
				{% endfor %}
			{% endif %}
			


    </div> <!-- /container -->
		<script type="text/javascript">
			$(".openpanel").on("click", function() {
			    $(".panel-collapse").collapse('show');
			});
			
			$(".closepanel").on("click", function() {
			    $(".panel-collapse").collapse('hide');
			});
	  </script>


  </body>
</html>
