
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{ docs_title }} - {{ module_name }}</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css"/>
	  <link rel="stylesheet" href="assets/css/bootstrap.css"/>
	  <link rel="stylesheet" href="assets/css/jquery.orgchart.css"/>
		
	  <script src="assets/js/jquery-1.11.1.min.js"></script>		
	  <script src="assets/js/bootstrap.min.js"></script>				
	  <script src="assets/js/jquery.orgchart.js"></script>
	  <script>
	  $(function() {
	      $(".chart").each( function(index) {
					$(this).orgChart({container: $("#main" + index)});
				});
	  });
	  </script>
		
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="index.html">{{ docs_title }}</a>
        </div>
      </div>
    </div>

    <div class="jumbotron">
      <div class="container">
        <h1>Index</h1>
      </div>
    </div>

    <div class="container">
			{% if program_list|length > 0 %}
				<div class="row">
					<h2>Programs</h2>
					<ul>
						{% for program in program_list|sort %}
							<li><a href="program_{{ program }}.html">{{ program }}</a></li>
						{% endfor %}
					</ul>
				</div>
			{% endif %}
				
      <div class="row">
        <div class="col-md-4">
					<h2>Classes</h2>
					<ul>
						{% for class in class_list|sort %}
							<li><a href="class_{{ class }}.html">{{ class }}</a></li>
						{% endfor %}					
					</ul>
				</div>
				
        <div class="col-md-4">
					<h2>Modules</h2>
					<ul>
						{% for module in module_list|sort %}
							<li><a href="module_{{ module }}.html">{{ module }}</a></li>
						{% endfor %}					
					</ul>
				</div>
				
        <div class="col-md-4">
					<h2>Files</h2>
					<ul>
						{% for file in file_list|sort %}
							<li><a href="file_{{ file }}.html">{{ file }}</a></li>
						{% endfor %}					
					</ul>
				</div>
				
			</div>
    </div> <!-- /container -->


  </body>
</html>
